name: Updating a GitHub key

on:
  push:
    branches:
      - main

jobs:
  job0_update_secret_test:
    runs-on: ubuntu-latest

    permissions:
      contents: write

    steps:
      - name: Get repository files - probably do not need it
        uses: actions/checkout@v2
        
      - name: Assign a new value to the secret
        uses: actions/github-script@v6
        env:
          REPOB_V0_test: '${{ secrets.REPOB_V0_test }}'
        with:
          result-encoding: string
          github-token: ${{ secrets.REPOB_V0_test }}
          script: |

            // --------------------------------
            
            // Get id information about Github Actions Secret
            const publicKey_str = await github.rest.actions.getRepoPublicKey({
              owner: context.repo.owner,
              repo: context.repo.repo,
            });

            // --------------------------------
            
            // Re-assign the new_secret_value to Github Actions Secret
            await github.rest.actions.createOrUpdateRepoSecret({
                owner: context.repo.owner,
                repo: context.repo.repo,
                secret_name: 'REPOB_V0_test',
                encrypted_value: btoa(publicKey_str),
                key_id: publicKey_str.data.key_id,
              });

              // --------------------------------
