name: Updating a GitHub key - REPOB_V0_TOKEN1

on:
  schedule:
    - cron: '0 6,18 * * *'
      
jobs:
  update_token:
    runs-on: ubuntu-latest

    permissions: write-all

    steps:
      - name: Get repository files (equivalent to git pull)
        uses: actions/checkout@v2
        
      - name: Assign a new value to the secret
        env:
          GH_TOKEN: ${{ secrets.REPOB_V0_TOKEN0 || secrets.REPOB_V0_TOKEN1 || github.token }}
        run: |
          repoOwner=$(echo "${{ github.repository }}" | cut -d '/' -f 1);
          echo "repoOwner is $repoOwner";
          repoOwnerEmail="91731082+j622amilah@users.noreply.github.com";
          repoName=$(echo "${{ github.repository }}" | cut -d '/' -f 2);
          
          git config --global user.email ${repoOwnerEmail};
          git config --global user.name ${repoOwner};
          git config --global push.autoSetupRemote true;
          git pull origin main;
          git checkout main;
          git merge main --ff-only;

          gh secret set REPOB_V0_TOKEN1 --app actions --body ${{ secrets.REPOB_V0_TOKEN1 }} --repos $repoOwner/$repoName
          
          git add -A; 
          git diff-index --quiet HEAD || git commit -m "add files" --allow-empty;
          git push
